/* custom style */

#map{
    color: #080f1f;
}
.navbar-form .form-control{
    width: 130px;
    margin-right: 2px;
}
.navbar-nav:not(.navbar-right) > li > a {
    font-size: 1.4em !important;
}
.navbar-form input:not(:focus) {
    background: #65707A;
    color: #ccc;
}